.question-layout{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 9px;
}

.question-content{
    padding: 12px 5px;
}

.question-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    margin-left: 7px;
}

.img-bullet{
    position: relative;
    top:3px;
}