#faq-layout{
    width: 390px;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 49px auto;
    color:#2D2D2D;
}

#faq-content{
    position: relative;
    margin: 0 25px;
    bottom: 38px;
}

#robot{
    position: relative;
    left:25px;
    bottom: 37px;
}

#question-mark{
    position: relative;
    top: 5px;
    margin-left: 7px;
}

#faq-title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}