#layout{
    width: 416px;
    height: 629px;
    background: #FFFFFF;
    border: 2px solid black;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    text-align: center;
    margin: 50px auto;
}

#upper-layout{
    background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
    height: 45%;
    width: 416px;
    border-radius: 18px 18px 0 0;
}

@media (max-width: 481px){
    #layout{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}