#faq-btn{
    width: 268px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin: 20px auto;
    text-align: center;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;

    color: #2D2D2D;
    padding: 11px;
}

#chat-icon{
    position: relative;
    margin-right: 5px;
    top:3px;
}